@import '../../../shared/_vars.scss';

.wrapper {
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background-image: url('../../../../public/background4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.darking {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.title {
  position: relative;
  z-index: 100;
  font-size: 250px;
  color: $orange;
}
