@import '../../../shared/_vars.scss';

.wrapper {
  height: 100vh;
  width: 30%;
  background-color: $grey;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 900;
  padding: 70px 50px;

  border-top-left-radius: 7%;
  border-bottom-left-radius: 7%;
}
